<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Postgres"
             providerName="Npgsql"
             connectionString="Server=127.0.0.1;Port=5432;Database=postgres;User Id=postgres;Password=postgres;"/>
    </connectionStrings>
    <appSettings>
        <add key="ApiAccessToken" value="Paste your API-access-token instead of this string." />
        <add key="DatabaseConnectionString" value="Postgres" />
    </appSettings>
</configuration>